*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'PT Sans', sans-serif;
}

.background-main{
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) , url("../img/bg-main.jpg"); /*linear-gradient -- to make picture looks darker*/
	background-position: center; 
	background-size: cover; 
	background-repeat: no-repeat;
}

